<% layout('/layouts/boilerplate') %>

<nav class=" shadow-[0px_0px_10px_0px_rgba(0,0,0,0.2)] col-span-2 2xl:text-base xl:text-sm 2xl:p-6 xl:p-3 bg-white rounded-lg ">
  <%- include('../partials/adminnavbar'); %>
</nav>

<main class="col-span-10 flex flex-col">
  <%- include('../partials/flash') %>


<div class="flex justify-between text-white ">
  <p class="font-semibold text-2xl flex flex-cols text-white"><a href="/items">Items</a>/<span class="text-gray-300">Manage</span></p>
  <p class="font-semibold">Welcome Admin <%= currentUser.firstname.charAt(0).toUpperCase()%><%= currentUser.firstname.slice(1)%></p>
</div>


<div class=" h-full mt-1 grid grid-cols-5  gap-5 pt-2">

  <div class="col-span-3 row-span-4 bg-white shadow-[0px_0px_10px_0px_rgba(0,0,0,0.2)] rounded-xl p-5 flex flex-col gap-1 relative h-full ">
    <div class="flex justify-between">
      <div class="flex gap-5 items-center">
        <h1 class="2xl:text-2xl xl:text-base  font-bold">Deployed Units</h1>
        <select name="chooseDept" id="chooseDept" class="ring-2 text-sm p-1 ring-slate-300 rounded-md h-7 w-52">
          <option value="">Select Department</option>
          <% for(let dept of deptsWithDeploy) { %>
            <option value="<%=dept%>"><%=dept%></option>
            <% } %>
        </select>
      </div>
      <div>
        <a href="/items/manage"> 
          <button class="px-4 py-1 border text-lg rounded shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_0px_rgba(133,77,14,1)] text-white bg-yellow-800 hover:bg-white hover:text-yellow-800 transition-ease-in duration-300 hover:border-yellow-800 font-semibold">
            Available Units
          </button>
        </a> 
      </div>
    
    </div>
    <div class="pt-2 w-full" id="availableItemsDiv">
      
      <div class="grid grid-cols-8 text-center xl:text-lg 2xl:text-xl pe-2 font-semibold border-y py-1">
          <div class="col-span-2">Name</div>
          <div class="col-span-2">Department</div>
          <div class="">Quantity</div>
          <div class="col-span-3">Action</div>
      </div>
      <div class="2xl:h-[528px] xl:h-[590px] overflow-hidden overflow-y-auto rounded-b-md">
        <% for(let deploy of deploys) { %>
          <div class="grid grid-cols-8  py-2 pe-2 xl:text-sm even:bg-slate-100 gap-4 deployedUnit" data-deployed-id="<%=deploy._id %>">
            <div class="col-span-2 flex justify-center items-center"><%= deploy.item.name %></div>
            <div class="col-span-2 flex justify-center items-center departmentDiv"><%= deploy.department.department %></div>
            <div class="flex justify-center items-center"><%= deploy.qty %></div>
            <div class="grid grid-cols-3 gap-3 col-span-3 text-center">

              <button class="border py-1 rounded shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_0px_rgba(34,197,94,1)] text-white bg-green-500 hover:bg-white hover:text-green-500 transition-ease-in duration-300 hover:border-green-500 font-semibold detailsDeployedButton">Details</button>

              <button class="border py-1 rounded shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_0px_rgba(249,115,22,1)] text-white bg-orange-500 hover:bg-white hover:text-orange-500 transition-ease-in duration-300 hover:border-orange-500 font-semibold editDeployedButton">Edit</button>

              <button class="border py-1 rounded shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_0px_rgba(239,113,113,1)] text-white bg-red-500 hover:bg-white hover:text-red-500 transition-ease-in duration-300 hover:border-red-500 font-semibold deleteDeployedButton">Delete</button>

            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <div class="col-span-2 row-span-4 bg-white shadow-[0px_0px_10px_0px_rgba(0,0,0,0.2)] rounded-xl flex justify-center" id="actionField">

    <form action="/items/manage" method="POST" class="h-full w-full 2xl:px-10 xl:px-5  flex flex-col justify-center" id="addItem" novalidate>
      <h1 class="text-center w-full font-bold text-2xl mb-5">Add Units</h1>
      <div class="flex flex-col mt-2">
        <label for="name" class="text-lg font-semibold addUnitLabels after:ps-2 after:text-red-500">Item Name :</label>
        <input type="text" name="name" id="name" class="ring-2 ring-slate-300 w-full p-2 rounded-md addUnitsValidate" required>
      </div>
      <div class="flex flex-col mt-2">
        <label for="code" class="text-lg font-semibold addUnitLabels after:ps-2 after:text-red-500">Item Code :</label>
        <input type="text" name="code" id="code" class="ring-2 ring-slate-300 w-full p-2 rounded-md addUnitsValidate" required>
      </div>
      <div class="flex flex-col mt-2">
        <label for="qty" class="text-lg font-semibold addUnitLabels after:ps-2 after:text-red-500">Quantity :</label>
        <input type="number" name="qty" id="qty" class="ring-2 ring-slate-300 w-full p-2 rounded-md addUnitsValidate" required>
      </div>
      <div class="flex flex-col mt-2">
        <label for="description" class="text-lg font-semibold addUnitLabels after:ps-2 after:text-red-500">Description :</label>
        <textarea name="description" id="description" cols="30" rows="3" class="ring-2 ring-slate-300 w-full p-2 rounded-md resize-none addUnitsValidate" required></textarea>
      </div>
      <div class="text-center mt-10">
        <button formaction="/items/manage" class="border w-24 h-10 shadow-[2px_2px_0px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_0px_rgba(59,130,246,1)] text-white bg-blue-500 hover:bg-white hover:text-blue-500 transition-ease-in duration-300 hover:border-blue-500 font-bold rounded-md">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="/js/deploy.js"></script>
 
</main>